
((digest . "5931e664e38707fef05d59ec07333cff") (undo-list (nil rear-nonsticky nil 97 . 98) (nil fontified nil 65 . 98) (nil fontified nil 64 . 65) (nil fontified nil 63 . 64) (nil fontified nil 21 . 63) (nil fontified nil 20 . 21) (20 . 98) (t 21037 48726 0 0) nil (#("
" 0 1 (fontified t)) . -20) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) nil (#("
" 0 1 (fontified t)) . -21) (t 21037 48721 0 0) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) ((marker . 20) . -1) nil (#("<% end %>
" 0 10 (fontified t)) . -21) (t 21037 48718 0 0) ((marker) . -10) ((marker) . -10) nil (#("<%= simple_form_for :user do |f| %>
<%= f.error_notification %>

<%= f.file_field :profile_picture %>

<div class=\"form-actions\">
  <%= f.button :submit, class: 'btn-primary' %>
  <%= link_to t('.cancel', default: t(\"helpers.links.cancel\")), root_path, class: 'btn' %>
</div>
" 0 104 (fontified t) 104 107 (fontified t face font-lock-function-name-face) 107 108 (fontified t) 108 113 (fontified t face font-lock-variable-name-face) 113 114 (fontified t) 114 128 (fontified t face font-lock-string-face) 128 216 (fontified t) 216 238 (fontified t face font-lock-string-face) 238 271 (fontified t) 271 274 (fontified t face font-lock-function-name-face) 274 276 (fontified t)) . -21) (t 21037 37537 0 0) ((marker) . -36) ((marker) . -36) ((marker) . -64) ((marker) . -64) ((marker) . -65) ((marker) . -65) ((marker) . -102) ((marker) . -102) ((marker) . -103) ((marker) . -103) ((marker) . -130) ((marker) . -130) ((marker) . -178) ((marker) . -178) ((marker) . -269) ((marker) . -269) ((marker) . -276) ((marker) . -276) ((marker . 20) . -102) ((marker . 20) . -65) ((marker . 15) . -102) ((marker . 20) . -65)))
